<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hi, I'm Dominic</h1>
        <p>A developer and Anime/Manga enthusiast.</p>
      </header>
      <p>
        So I guess it's time to introduce myself :) <br />
        I am Dominic Schroeder, 27 years old and from Germany. Currently I am studying computer science and doing my bachelor exam. Soon I am done and looking for jobs!
      </p>
      <ul class="actions">
        <li><a href="pages/about.html" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/Foto_von_mir.jpg" style="width: 40%; height: 100%;" alt="About" />
    </span>
  </section>
